.body-offset {
    padding-top: 15px;
    /* ajuste conforme a altura da sua navbar */
}


.meu-container {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
    /* height: 100vh; */
    /* altura total da viewport */
}

.nav-item .nav-link h4 {
    margin: 0;
    /* Remove margens padrão */
    font-size: 1.2rem;
    /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    /* Deixa o texto em negrito */
    color: #000000;
    /* Cor do texto */
}

