.body-offset {
    padding-top: 15px;
    /* ajuste conforme a altura da sua navbar */
}

.meu-container {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
    /* height: 100vh; */
    /* altura total da viewport */
}

/* ESTILIZA O TEXTO DENTRO DO LINK DA NAVBAR */
.nav-item .nav-link h4 {
    margin: 0;
    /* Remove margens padrão */
    font-size: 1.1rem;
    /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    /* Deixa o texto em negrito */
    color: #ffffff;
    /* Cor do texto */
    transition: all 0.3s ease;
}

/* CRIA UMA COR DOURADA NO HOVER DO LINK */
/* INSERIR O H4 CASO QUEIRA QUE AFETE O TEXTO PARA FICAR DOURADO */
.navbar-bg .nav-link:hover {
    color: #ffd700 !important;
    /* texto dourado */
    background-color: rgba(255, 255, 255, 0.15);
    /* leve fundo translúcido */
    border-radius: 8px;
    transform: scale(1.03);
    /* leve aumento de tamanho */
}

.navbar-bg {
    /* background-image: url('../img/background.png'); substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0a499c;
    /* leve transparência */
    background-blend-mode: overlay;
    /* mistura imagem com cor */
    backdrop-filter: brightness(0.9);
    /* ajuste o brilho conforme necessário */
}

/* Reduz a altura da navbar apenas em telas grandes */
@media (min-width: 992px) {
    .navbar {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        height: 100px;
    }
}

/* Logo grande, mas sem afetar a altura da navbar */
.logo-grande {
    position: absolute;
    height: 120px;
    /* TAMANHO GRANDE */
    top: 50%;
    /* centraliza */
    transform: translateY(-50%);
}

.footer-bg {
    background-color: #0a499c;
    margin-top: auto;
    color: #ffffff;
}

.footer-msg {
    font-weight: bold;
    font-size: large;
}